<a href="https://colab.research.google.com/github/hferdous/Data_Analysis_NPTEL/blob/master/Data_Analysis_NPTEL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#Read data from online
df= pd.read_csv("https://raw.githubusercontent.com/resbaz/r-novice-gapminder-files/master/data/gapminder-FiveYearData.csv")

In [ ]:
# Top 5 rows
df.head()

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3  Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4  Afghanistan  1972  13079460.0      Asia   36.088  739.981106

In [ ]:
# Last 5 rows
print(df.tail())

       country  year         pop continent  lifeExp   gdpPercap
1699  Zimbabwe  1987   9216418.0    Africa   62.351  706.157306
1700  Zimbabwe  1992  10704340.0    Africa   60.377  693.420786
1701  Zimbabwe  1997  11404948.0    Africa   46.809  792.449960
1702  Zimbabwe  2002  11926563.0    Africa   39.989  672.038623
1703  Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

In [ ]:
# number of rows and columns
print(df.shape)

(1704, 6)

In [ ]:
# Column names
print(df.columns)

Index(['country', 'year', 'pop', 'continent', 'lifeExp', 'gdpPercap'], dtype='object')

In [ ]:
# Data Types
print(df.dtypes)

country       object
year           int64
pop          float64
continent     object
lifeExp      float64
gdpPercap    float64
dtype: object

In [ ]:
# Get more information about the data
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   year       1704 non-null   int64
 2   pop        1704 non-null   float64
 3   continent  1704 non-null   object
 4   lifeExp    1704 non-null   float64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 80.0+ KB
None

In [ ]:
# Get the country column and save it on its own
country_df=df['country']
country_df.head()

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [ ]:
#Looking for country, continent, and year
subset=df[['country','continent','year']]

In [ ]:
subset.head

<bound method NDFrame.head of           country continent  year
0     Afghanistan      Asia  1952
1     Afghanistan      Asia  1957
2     Afghanistan      Asia  1962
3     Afghanistan      Asia  1967
4     Afghanistan      Asia  1972
...           ...       ...   ...
1699     Zimbabwe    Africa  1987
1700     Zimbabwe    Africa  1992
1701     Zimbabwe    Africa  1997
1702     Zimbabwe    Africa  2002
1703     Zimbabwe    Africa  2007

[1704 rows x 3 columns]>

**Looking for Columns, Rows, and Cells**

Subset rows by the index label: loc

In [ ]:
# Locate 100th row
df.loc[99]

country       Bangladesh
year                1967
pop          6.28219e+07
continent           Asia
lifeExp           43.453
gdpPercap        721.186
Name: 99, dtype: object

In [ ]:
df.loc[0] #Locate 0th row, here index starts from zero

country      Afghanistan
year                1952
pop          8.42533e+06
continent           Asia
lifeExp           28.801
gdpPercap        779.445
Name: 0, dtype: object